.path0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0{
    0%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 85.17703349282297,167.8181818181818 170.35406698564594,135.63636363636365 272,139 C 373.64593301435406,142.36363636363635 491.76076555023917,181.27272727272728 588,195 C 684.2392344497608,208.72727272727272 758.6028708133972,197.27272727272728 848,182 C 937.3971291866028,166.72727272727272 1041.8277511961724,147.63636363636363 1143,150 C 1244.1722488038276,152.36363636363637 1342.0861244019138,176.1818181818182 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    25%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 115.11004784688996,222.82296650717703 230.2200956937799,245.64593301435406 325,253 C 419.7799043062201,260.35406698564594 494.22966507177034,252.23923444976077 585,222 C 675.7703349282297,191.76076555023923 782.8612440191387,139.39712918660285 888,155 C 993.1387559808613,170.60287081339715 1096.3253588516745,254.17224880382776 1188,273 C 1279.6746411483255,291.82775119617224 1359.8373205741627,245.91387559808612 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    50%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 75.42583732057417,188.95693779904306 150.85167464114835,177.91387559808612 263,196 C 375.14832535885165,214.08612440191388 524.0191387559809,261.3014354066986 623,253 C 721.9808612440191,244.69856459330143 771.0717703349283,180.88038277511964 840,177 C 908.9282296650717,173.11961722488036 997.6937799043062,229.17703349282294 1101,243 C 1204.3062200956938,256.82296650717706 1322.153110047847,228.41148325358853 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    75%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 107.83732057416267,220.62200956937798 215.67464114832535,241.24401913875596 300,252 C 384.32535885167465,262.75598086124404 445.13875598086133,263.64593301435406 526,252 C 606.8612440191387,240.35406698564594 707.7703349282297,216.17224880382776 827,192 C 946.2296650717703,167.82775119617224 1083.7799043062203,143.66507177033495 1189,145 C 1294.2200956937797,146.33492822966505 1367.1100478468898,173.1674641148325 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    100%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 85.17703349282297,167.8181818181818 170.35406698564594,135.63636363636365 272,139 C 373.64593301435406,142.36363636363635 491.76076555023917,181.27272727272728 588,195 C 684.2392344497608,208.72727272727272 758.6028708133972,197.27272727272728 848,182 C 937.3971291866028,166.72727272727272 1041.8277511961724,147.63636363636363 1143,150 C 1244.1722488038276,152.36363636363637 1342.0861244019138,176.1818181818182 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
}

.path1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }

@keyframes pathAnim-1{
    0%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 107.31100478468898,431.06220095693783 214.62200956937795,462.12440191387566 309,469 C 403.37799043062205,475.87559808612434 484.82296650717706,458.56459330143537 579,441 C 673.1770334928229,423.43540669856463 780.086124401914,405.61722488038276 873,384 C 965.913875598086,362.38277511961724 1044.8325358851673,336.96650717703346 1137,339 C 1229.1674641148327,341.03349282296654 1334.5837320574165,370.51674641148327 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    25%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 76.79425837320576,434.92822966507174 153.58851674641153,469.85645933014354 255,466 C 356.4114832535885,462.14354066985646 482.4401913875597,419.5023923444976 575,418 C 667.5598086124403,416.4976076555024 726.6507177033494,456.1339712918661 824,453 C 921.3492822966506,449.8660287081339 1056.956937799043,403.9617224880382 1166,388 C 1275.043062200957,372.0382775119618 1357.5215311004786,386.01913875598086 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    50%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 85.6267942583732,377.35885167464113 171.2535885167464,354.71770334928226 256,339 C 340.7464114832536,323.28229665071774 424.61244019138746,314.488038277512 535,328 C 645.3875598086125,341.511961722488 782.2966507177033,377.33014354066984 897,392 C 1011.7033492822967,406.66985645933016 1104.2009569377992,400.1913875598086 1191,398 C 1277.7990430622008,395.8086124401914 1358.8995215311004,397.9043062200957 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    75%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 101.85645933014354,396.8325358851675 203.71291866028707,393.665071770335 315,396 C 426.2870813397129,398.334928229665 547.0047846889952,406.1722488038277 624,425 C 700.9952153110048,443.8277511961723 734.2679425837321,473.64593301435417 832,458 C 929.7320574162679,442.35406698564583 1091.9234449760766,381.2440191387559 1204,364 C 1316.0765550239234,346.7559808612441 1378.0382775119617,373.37799043062205 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    100%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 107.31100478468898,431.06220095693783 214.62200956937795,462.12440191387566 309,469 C 403.37799043062205,475.87559808612434 484.82296650717706,458.56459330143537 579,441 C 673.1770334928229,423.43540669856463 780.086124401914,405.61722488038276 873,384 C 965.913875598086,362.38277511961724 1044.8325358851673,336.96650717703346 1137,339 C 1229.1674641148327,341.03349282296654 1334.5837320574165,370.51674641148327 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
}